* {
    margin: 0px;
    padding: 0px;
}

/* 分隔線 */
.divider {
    border: 3px solid #2f4e6b;
    background-color: #2f4e6b;
    border-radius: 50%;
}

html,
body {
    font-family: "Helvetica", "Arial", "LiHei Pro", "微軟正黑體", sans-serif;
    /*sans-serif:以上全找不到的話，指定為無襯線的隨意內建字體*/
    font-size: 20px;
    font-weight: bold;
}

/* header系列開始 */
header .row {
    background-color: #2f4e6b;
}

.navbar-nav a {
    color: #fff;
    font-size: 1rem;
}
.dropdown-menu a{
    color: #000;
}

/* 改漢堡按鈕 參考 https://stackoverflow.com/questions/42586729/bootstrap-4-change-hamburger-toggler-color */
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke=' rgba( 250, 217, 164, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border: #fff 2px solid;
}
/* 改漢堡按鈕結束 */

/* navbar hover */
.navbar .nav-item:not(:last-child) {
    margin-right: 35px;
}

.dropdown-toggle::after {
    transition: transform 0.2s linear;
}

.show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
}

.dropdown-menu {
    margin-top: 0;
}

/* header系列結束 */

/* main系列開始 */
.mysection {
    margin: 4rem 5rem;
}

.all-product {
    font-weight: bold;
    font-size: 1.5rem;
}

.card {
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .5s;

    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.spotlight{
    box-shadow: 0 6px 10px rgba(0, 0, 0, .2);
    transition:1s;
    cursor: pointer;
}

.spotlight:hover {
    transform: scale(1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
}

.fz {
    font-size: 1.2rem;
}

.bgc {
    background-color: rgba(47,78,107,.5);
}

/* main系列結束 */

/* footer系列開始 */
footer .row {
    background-color: #000;
}

footer {
    color: #fff;
    text-align: center;
    font-weight: normal;
}

.contact-icon {
    font-size: 1.5rem;
}

.copyright {
    font-size: 0.5rem;
}

i {
    color: #fff;
    transition: 0.5s;
    font-size: 2rem;
    padding: 0 1rem;
}

i:hover {
    transform: scale(1.3);
}

/* footer系列結束 */

/* contact.html的CSS */
.mycontact p {
    font-size: 1.2rem;
}

.mycontact p span {
    font-size: 0.8rem;
    font-weight: normal;
}

/* contact.html的CSS結束 */

/* BrandStory.html的CSS */
.myBrandStory p {
    font-size: 1rem;
    font-weight: bold;
}

.myBrandStory p span {
    color: brown;
}

/* BrandStory.html的CSS結束 */

/* 電腦版 */
@media screen and (min-width: 992px) {
    .mysection {
        margin: 1rem 5rem;
    }

    .series {
        position: absolute;
        right: 0;
        bottom: 0;
        text-align: center;
        background-color: rgba(255, 255, 255, .5);
        width: 100%;
    }

    .series h4 {
        font-size: 1.5rem;
        margin-top: 0.5rem;
    }

    .series a {
        font-size: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

/* 平板版 */
@media screen and (min-width: 576px) and (max-width: 991px) {

    .navbar-nav a {
        font-size: 0.8rem;
    }

    .mysection {
        margin: 1rem;
    }

    .series {
        position: absolute;
        right: 0;
        bottom: 0;
        text-align: center;
        background-color: rgba(255, 255, 255, .5);
        width: 100%;
    }

    .series h4 {
        font-size: 1rem;
        margin-top: 0.5rem;
    }

    .series a {
        font-size: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

/* 手機版 */
@media screen and (max-width:575px) {
    .mysection {
        margin: 1rem auto 0.5rem;
    }

    .mysection p {
        font-size: 1.2rem;
    }

    .card {
        margin: 0.5rem 1rem;
    }

    .series {
        position: absolute;
        right: 0;
        bottom: 0;
        text-align: center;
        background-color: rgba(255, 255, 255, .5);
        width: 100%;
    }

    .series h4 {
        font-size: 1rem;
        margin-top: 0.3rem;
    }

    .series a {
        font-size: 0.5rem;
        margin-bottom: 0.3rem;
    }

    .phone-mt {
        margin-top: 2rem;
    }

    .myBrandStory p {
        font-size: 0.8rem;
    }
}